In [136]:
import numpy as np
import pandas as pd

In [137]:
df = pd.read_csv('dulieuxettuyendaihoc.csv', index_col="STT")

In [138]:
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [139]:
df.tail(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [140]:
df["DT"].fillna(0, inplace =False)

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [141]:
df["T1"].fillna(df["T1"].mean(), inplace =False)

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [142]:
def fill(col):
    return df[col].fillna(df[col].mean(), inplace =False)

In [143]:
is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()

In [144]:
df_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu 
thì điền giá trị 0.
Hƣớng dẫn
Lập bảng tần số, tần suất để khảo sát dữ liệu thiếu, bao nhiêu dữ liệu riêng biệt (pandas unique)
Thực hiện thay thế dữ liệu thiếu bằng phương pháp điền dữ liệu 0

In [145]:
df['DT'].value_counts()

DT
1.0    2
6.0    1
Name: count, dtype: int64

In [146]:
df['DT'].value_counts(normalize=True)

DT
1.0    0.666667
6.0    0.333333
Name: proportion, dtype: float64

In [147]:
num_missing = df['DT'].isnull().sum()
print(f"Số lượng giá trị thiếu trong cột 'DT': {num_missing}")

Số lượng giá trị thiếu trong cột 'DT': 97

In [148]:
df['DT'] = df['DT'].fillna(0)

6. Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại

In [149]:
df.isnull().sum()

T1     0
L1     0
H1     0
S1     0
V1     0
X1     0
D1     0
N1     0
T2     0
L2     0
H2     0
S2     0
V2     0
X2     0
D2     0
N2     0
T3     0
L3     0
H3     0
S3     0
V3     0
X3     0
D3     0
N3     0
T4     0
L4     0
H4     0
S4     0
V4     0
X4     0
D4     0
N4     0
T5     0
L5     0
H5     0
S5     0
V5     0
X5     0
D5     0
N5     0
T6     0
L6     0
H6     0
S6     0
V6     0
X6     0
D6     0
N6     0
GT     0
DT     0
KV     0
DH1    0
DH2    0
DH3    0
KT     0
dtype: int64

7. Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12. 
- Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10

In [150]:
# Tính TBM1 (trung bình môn năm lớp 10)
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10

In [151]:
# Tính TBM2 (trung bình môn năm lớp 11) 
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] + df['V2']*2 + df['X2'] + df['D2'] + df['N2']) / 10

In [152]:
# Tính TBM3 (trung bình môn năm lớp 12)
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] + df['V6']*2 + df['X6'] + df['D6'] + df['N6']) / 10

In [153]:
# Tính toán điểm trung bình tổng kết (TBT) cho mỗi học sinh:
df['TBT'] = (df['TBM1'] + df['TBM2'] + df['TBM3']) / 3

In [154]:
#Tính toán điểm thi đại học trung bình (DHTB) cho mỗi học sinh:
df['DHTB'] = (df['DH1'] + df['DH2'] + df['DH3']) / 3

In [155]:
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3,TBT,DHTB
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01,7.183333,3.666667
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,1,6.00,4.00,3.50,C,4.69,5.47,5.07,5.076667,4.500000
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,1,5.00,6.75,4.00,C,5.77,5.38,6.04,5.730000,5.250000
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,1,4.25,4.25,5.25,D1,6.21,5.20,6.88,6.096667,4.583333
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99,6.616667,4.583333
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,1,1.50,4.00,6.00,D1,7.96,8.54,7.38,7.960000,3.833333
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,2,6.50,6.75,5.25,C,4.90,5.60,6.01,5.503333,6.166667
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,2,3.75,4.50,4.25,D1,6.80,6.87,7.03,6.900000,4.166667
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,1,3.50,3.50,6.75,D1,6.23,6.72,7.56,6.836667,4.583333
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,1,4.00,4.75,5.50,D1,6.80,7.25,7.03,7.026667,4.750000

8. Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp 10, 11, 12 như sau:
- Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
- Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
- Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
- Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
- Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

In [156]:
# Phân loại năm lớp 10
df.loc[df['TBM1'] < 5, 'XL1'] = 'Y'
df.loc[(df['TBM1'] >= 5) & (df['TBM1'] < 6.5), 'XL1'] = 'TB'
df.loc[(df['TBM1'] >= 6.5) & (df['TBM1'] < 8.0), 'XL1'] = 'K'
df.loc[(df['TBM1'] >= 8.0) & (df['TBM1'] < 9.0), 'XL1'] = 'G'
df.loc[df['TBM1'] >= 9.0, 'XL1'] = 'XS'

In [157]:
# Phân loại năm lớp 11 
df.loc[df['TBM2'] < 5, 'XL2'] = 'Y'
df.loc[(df['TBM2'] >= 5) & (df['TBM2'] < 6.5), 'XL2'] = 'TB'
df.loc[(df['TBM2'] >= 6.5) & (df['TBM2'] < 8.0), 'XL2'] = 'K' 
df.loc[(df['TBM2'] >= 8.0) & (df['TBM2'] < 9.0), 'XL2'] = 'G'
df.loc[df['TBM2'] >= 9.0, 'XL2'] = 'XS'

In [158]:
# Phân loại năm lớp 12
df.loc[df['TBM3'] < 5, 'XL3'] = 'Y'
df.loc[(df['TBM3'] >= 5) & (df['TBM3'] < 6.5), 'XL3'] = 'TB'
df.loc[(df['TBM3'] >= 6.5) & (df['TBM3'] < 8.0), 'XL3'] = 'K'
df.loc[(df['TBM3'] >= 8.0) & (df['TBM3'] < 9.0), 'XL3'] = 'G'
df.loc[df['TBM3'] >= 9.0, 'XL3'] = 'XS'

In [159]:
df.head(5)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,DH3,KT,TBM1,TBM2,TBM3,TBT,DHTB,XL1,XL2,XL3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,4.50,A1,7.00,7.54,7.01,7.183333,3.666667,K,K,K
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,3.50,C,4.69,5.47,5.07,5.076667,4.500000,Y,TB,TB
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,4.00,C,5.77,5.38,6.04,5.730000,5.250000,TB,TB,TB
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,5.25,D1,6.21,5.20,6.88,6.096667,4.583333,TB,TB,K
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,5.00,A,6.50,6.36,6.99,6.616667,4.583333,K,TB,K

9. Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp 10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương pháp Min-Max Normalization

In [160]:
# Convert TBM1 (10-point scale) to US_TBM1 (4-point scale)
min_tbm1 = df['TBM1'].min()
max_tbm1 = df['TBM1'].max()
df['US_TBM1'] = (df['TBM1'] - min_tbm1) / (max_tbm1 - min_tbm1) * 4

In [161]:
# Convert TBM2 (10-point scale) to US_TBM2 (4-point scale)
min_tbm2 = df['TBM2'].min()
max_tbm2 = df['TBM2'].max()
df['US_TBM2'] = (df['TBM2'] - min_tbm2) / (max_tbm2 - min_tbm2) * 4

In [162]:
# Convert TBM3 (10-point scale) to US_TBM3 (4-point scale)
min_tbm3 = df['TBM3'].min()
max_tbm3 = df['TBM3'].max()
df['US_TBM3'] = (df['TBM3'] - min_tbm3) / (max_tbm3 - min_tbm3) * 4

In [163]:
df.head(5)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM2,TBM3,TBT,DHTB,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.54,7.01,7.183333,3.666667,K,K,K,2.930693,3.029126,2.537143
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,5.47,5.07,5.076667,4.500000,Y,TB,TB,0.643564,1.019417,0.320000
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,5.38,6.04,5.730000,5.250000,TB,TB,TB,1.712871,0.932039,1.428571
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,5.20,6.88,6.096667,4.583333,TB,TB,K,2.148515,0.757282,2.388571
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.36,6.99,6.616667,4.583333,K,TB,K,2.435644,1.883495,2.514286

10. Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị '1') và rớt ( giá trị '0') vào các khối dựa trên điểm DH1, DH2 và DH3 như sau
- Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, 
ngược lại là rớt
- Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược 
lại là rớt
- Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

In [164]:
df['KQXT'] = 0

In [165]:
# Tính KQXT cho khối A, A1
df.loc[(df['DH1']*2 + df['DH2'] + df['DH3'])/4 >= 5.0, 'KQXT'] = 1

# Tính KQXT cho khối B 
df.loc[(df['DH1'] + df['DH2']*2 + df['DH3'])/4 >= 5.0, 'KQXT'] = 1

# Tính KQXT cho các khối khác
df.loc[(df['DH1'] + df['DH2'] + df['DH3'])/3 >= 5.0, 'KQXT'] = 1

In [166]:
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,TBM3,TBT,DHTB,XL1,XL2,XL3,US_TBM1,US_TBM2,US_TBM3,KQXT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,7.01,7.183333,3.666667,K,K,K,2.930693,3.029126,2.537143,0
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,5.07,5.076667,4.500000,Y,TB,TB,0.643564,1.019417,0.320000,0
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,6.04,5.730000,5.250000,TB,TB,TB,1.712871,0.932039,1.428571,1
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,6.88,6.096667,4.583333,TB,TB,K,2.148515,0.757282,2.388571,0
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.99,6.616667,4.583333,K,TB,K,2.435644,1.883495,2.514286,0
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,7.38,7.960000,3.833333,K,G,K,3.881188,4.000000,2.960000,0
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.01,5.503333,6.166667,Y,TB,TB,0.851485,1.145631,1.394286,1
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.03,6.900000,4.166667,K,K,K,2.732673,2.378641,2.560000,0
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,7.56,6.836667,4.583333,TB,K,K,2.168317,2.233010,3.165714,0
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,7.03,7.026667,4.750000,K,K,K,2.732673,2.747573,2.560000,0

11. Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

In [167]:
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)